GitSidebarTab {
    height: 100%;
    width: 100%;
  }

  #git_buttons {
    height: auto;
    width: 100%;
    margin-bottom: 1;
  }

  #git_tree_container {
    height: 1fr;
  }

  .git-icon-btn {
    min-width: 5;
    width: auto;
    height: 1;
    border: round $secondary;
    background: $secondary;
  }

  #git_selected_label {
    text-style: bold;
    margin-bottom: 1;
    color: $success;
    height: auto;
  }
