SettingsMenu {
  height: 100%;
  width: 100%;
}

#settings-title {
  width: 100%;
  height: 1;
  text-align: center;
  padding: 0;
  margin: 0 0 1 0;
  text-style: bold;
  border: none;
}

SettingsTree {
  height: auto;
  width: 100%;
}

.settings-input {
  width: 45%;
  height: 1;
  border: none;
  background: $panel;
  padding: 0 1;
}

.settings-input:focus {
  border: none;
  background: $panel-lighten-1;
}

.settings-switch {
  width: auto;
  border: none;
  padding: 0;
  margin: 0;
}

.settings-switch:focus {
  border: none;
}

.settings-del-btn {
  height: 1;
  width: 3;
  min-width: 0;
  border: none;
  padding: 0;
  background: transparent;
  color: $error;
}

.settings-del-btn:hover {
  background: $error;
  color: $text;
}

.settings-add-btn {
  height: 1;
  width: 3;
  min-width: 0;
  border: none;
  padding: 0;
  background: transparent;
  color: $success;
}

.settings-add-btn:hover {
  background: $success;
  color: $text;
}

.settings-edit-btn {
  height: 1;
  width: 3;
  min-width: 0;
  border: none;
  padding: 0;
  background: transparent;
  color: $accent;
}

.settings-edit-btn:hover {
  background: $accent;
  color: $text;
}
