SettingsMenu {
  height: 100%;
  width: 100%;
}

#settings-title {
  width: 100%;
  height: 1;
  text-align: center;
  padding: 0;
  margin: 0 0 1 0;
  text-style: bold;
  border: none;
}

SettingsTree {
  height: auto;
  width: 100%;
}

.settings-input {
  width: 45%;
  height: 1;
  border: none;
  background: $panel;
  padding: 0 1;
}

.settings-input:focus {
  border: none;
  background: $panel-lighten-1;
}

.settings-switch {
  width: auto;
  border: none;
  padding: 0;
  margin: 0;
}

.settings-switch:focus {
  border: none;
}
