GenericTree {
    height: auto;
  }

  GenericTree .tree_rows {
    height: auto;
  }

  GenericTree .tree_rows TreeRow:even {
    background: $surface;
  }

  GenericTree .tree_rows TreeRow:odd {
    background: $surface-lighten-2;
  }
