ResultsModal {
    align: center middle;
  }

  #results_modal_container {
    width: 90%;
    height: 90%;
    background: $panel;
    border: round $primary;
    padding: 1;
  }

  #results_modal_header {
    height: auto;
    width: 100%;
    align: left middle;
    margin-bottom: 1;
  }

  #results_modal_header Label {
    width: 1fr;
    content-align: left middle;
  }

  .icon-btn {
    min-width: 3;
    width: auto;
    height: 1;
  }

  #results_modal_table {
    height: 1fr;
    margin-top: 1;
    margin-bottom: 1;
  }

  .modal-button-container {
    height: 3;
    width: 100%;
    align: center middle;
  }

  .modal-button {
    height: 1;
    width: 50%;
  }
